<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>CuraNest</title>



<script src="../static/js/ca-pub-9153409599391170.js.download"></script>
<script async="" src="../static/js/analytics.js.download"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	type="text/css" media="all">
<link href="../static/css/style1.css" rel="stylesheet" type="text/css"
	media="all">
<link href="../static/css/style2.css" rel="stylesheet" type="text/css"
	media="all">
<!-- js -->
<script src="../static/js/jquery.min.js.download"></script>
<!-- //js -->
<!-- cart -->
<script src="../static/js/simpleCart.min.js.download"> </script>
<!-- cart -->
<link rel="stylesheet" type="text/css"
	href="../static/css/jquery-ui.css">
<!-- for bootstrap working -->
<script type="text/javascript"
	src="../static/js/bootstrap-3.1.1.min.js.download"></script>
<!-- //for bootstrap working -->
<link href="../static/css/css" rel="stylesheet" type="text/css">
<link href="../static/css/css(1)" rel="stylesheet" type="text/css">
<!-- animation-effect -->
<link href="../static/css/animate.min.css" rel="stylesheet">
<script src="../static/js/wow.min.js.download"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<script id="_fbn_projs" type="text/javascript"
	src="./Best Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template _ Single __ w3layouts_files/C6ADVKE.json"></script>
</head>

<body style="">
	<script src="../static/js/jquery.min.js(1).download"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
</script>
	<script type="text/javascript" src="../static/js/fancybar.js.download"
		id="_fancybar_js"></script>

	<script>

    $(function() {
      $('.adsense_btn_close').click(function() {
        $(this).closest('.adsense_fixed').css('display', 'none');
      });

      $('.adsense_btn_info').click(function() {
        if ($('.adsense_info_content').is(':visible')) {
          $('.adsense_info_content').css('display', 'none');
        } else {
          $('.adsense_info_content').css('display', 'block');
        }
      });

    });

  </script>












	<!-- Favicon -->
	<link rel="icon" href="" type="image/x-icon">

	<!--Bootstrap Framework Version 3.3.7-->
	<link href="../static/bootstrap/bootstrap.min.css" type="text/css"
		rel="stylesheet">

	<!--Font Awesome Version 4.6.3 -->
	<link href="../static/fonts/font-awesome/css/font-awesome.min.css"
		type="text/css" rel="stylesheet">
	<link href="../static/fonts/webfont-medical-icons.ttf" type="text/css"
		rel="stylesheet">
	<link href="../static/fonts/webfont-medical-icons.woff" type="text/css"
		rel="stylesheet">

	<!-- Medical Icons -->
	<link href="../static/css/medical-icons.css" type="text/css"
		rel="stylesheet">

	<!-- Stylesheets -->
	<link href="../static/css/vendors.css" type="text/css" rel="stylesheet">
	<link href="../static/css/style.css" type="text/css" rel="stylesheet"
		id="style">
	<link href="../static/css/components.css" type="text/css"
		rel="stylesheet" id="components">
	<link href="../static/css/medical-icons.css" type="text/css"
		rel="stylesheet" id="components">



	<!--Google Fonts-->
	<link href="../static/css/file1.css" rel="stylesheet">
	<link href="../static/css/file2.css" rel="stylesheet">

	<!-- Respond.js and HTML shiv provide HTML5 support in older browsers like IE9 and 8 -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


	<div class="loader-backdrop" style="display: none;">
		<!-- Loader -->
		<div class="loader"></div>
	</div>

	<header class="header-1">
		<!-- Header Style 1 -->
		<div class="topbar">
			<!-- Topbar -->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<ul class="social">
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							<li><a href=""><i class="fa fa-vimeo"></i></a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="contact">
							<li><span>Email:</span> curanestinfo@gmail.com</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default">
			<!-- Navigation Bar -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#main-navigation"
						aria-expanded="false">
						<span class="sr-only">Toggle Menu</span> <i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href=""> <h2>Company Logo</h2>
						<!-- Replace with your Logo -->
					</a>
				</div>
				<div class="collapse navbar-collapse" id="main-navigation">
					<!-- Main Menu -->

					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="index_1.html">Home</a></li>
						<li class="mega-sub-menu"><a href="">Pages</a> <!-- Mega Menu -->
							<ul class="mega-dropdown row">
								<li class="col-sm-3">
									<ul class="mega-menu-items">
										<li class="heading">Doctor Grid</li>
										<li><a href="">Doctor Style 1</a></li>
										<li><a href="">Doctor Style 2</a></li>
										<li><a href="">Doctor Mini</a></li>
										<li class="hr"></li>
										<li class="heading">Doctor Profile</li>
										<li><a href="">Doctor Single</a></li>
										<li><a href="">Doctor Single with Sidebar</a></li>
									</ul>
								</li>
								<li class="col-sm-3">
									<ul class="mega-menu-items">
										<li class="heading">Department Grid</li>
										<li><a href="">Department Style 1</a></li>
										<li><a href="">Department Style 2</a></li>
										<li><a href="">Department Mini</a></li>
										<li><a href="">Department List</a></li>
										<li class="hr"></li>
										<li class="heading">Department Details</li>
										<li><a href="">Department Single</a></li>
										<li><a href="">Department Single with Sidebar</a></li>
									</ul>
								</li>
								<li class="col-sm-3">
									<ul class="mega-menu-items">
										<li class="heading">Appointments</li>
										<li><a href="">Appointment Advanced</a></li>
										<li><a href="">Appointment Basic</a></li>
										<li><a href="">Book Appointment Form</a></li>
										<li class="hr"></li>
										<li class="heading">About Medwise</li>
										<li><a href="">About Us</a></li>
										<li><a href="">Why Us</a></li>
										<li><a href="">Process</a></li>
										<li><a href="">Features</a></li>
										<li><a href="">Testimonials</a></li>
										<li><a href="">Careers</a></li>
									</ul>
								</li>
								<li class="col-sm-3">
									<ul class="mega-menu-items">
										<li class="heading">Other Pages</li>
										<li><a href="">Gallery</a></li>
										<li><a href="">Events</a></li>
										<li><a href="">Download App</a></li>
										<li><a href="">Pricing Tables</a></li>
										<li><a href="">Offers</a></li>
										<li><a href="">Dos &amp; Donts</a></li>
										<li><a href="">Q and A</a></li>
										<li><a href="">Policies</a></li>
										<li><a href="">Coming Soon</a></li>
										<li><a href="">404-Not Found</a></li>
									</ul>
								</li>
							</ul></li>
						<li class="mega-sub-menu"><a href="">Elements</a> <!-- Mega Menu -->
						</li>
						<li><a href="">Contact Us</a></li>
						<li><a href="Login.html">Log In</a></li>
						<li><a href="signUp.html">Sign Up</a></li>
						<li><span class="emergency"> <!-- Emergency Number -->
								<i class="fa fa-mobile"></i> <span class="number">+9999000000</span><br>
								<span class="sub-text">Toll Free Emergency</span>
						</span></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="page-header">
		<div class="container">
			<h1>Manipal</h1>
			<div class="breadcrumb-2">
				<ul class="breadcrumb">
					<li><a href="">Home</a></li>
					<li class="active">Hospital Profile</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="department-single mt-40 mb-40">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="department-header">
						<div class="row">

							<div class="col-sm-8">
								<div class="carousel slide" id="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li class="active" data-slide-to="0" data-target="#carousel"></li>
										<li data-slide-to="1" data-target="#carousel"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<img src="../static/images/manipal.jpg" alt="First slide">
										</div>
										<div class="item">
											<img src="../static/images/manipal.jpg" alt="Second slide">
										</div>
									</div>

									<!-- Controls -->
									<a class="left carousel-control" data-slide="prev"
										href="#carousel"> <i class="fa fa-angle-left"></i>
									</a> <a class="right carousel-control" data-slide="next"
										href="#carousel"> <i class="fa fa-angle-right"></i>
									</a>
								</div>
								<br>
								<ul class="contact">
									<li><i class="fa fa-map-marker"></i>&nbsp;<b> C-569,
											1st Floor, 60 ft Main Road, AECS Layout, Brookefield,
											Bangalore-560037, Karnataka</b>
										</p></li>
									<li><i class="fa fa-phone"></i><b> +24 123-456-7878</b></li>
									<li><i class="fa fa-envelope"></i><b> info@example.com</b></li>
								</ul>







							</div>
							<div class="col-sm-4">
								<aside class="sidebar">
									<div class="widget widget-appointment">
										<h4 class="heading">Your Query</h4>
										<form>
											<div class="form-group">
												<input class="form-control" type="text"
													placeholder="Your Email Id">
											</div>
											<div class="form-group">
												<input class="form-control date-select hasDatepicker"
													type="text" placeholder="Date Of Birth"
													id="dp1487883373538">
												<button type="button" class="ui-datepicker-trigger">
													<img src="../static/images/calendar.png" alt="..."
														title="...">
												</button>
											</div>
											<div class="form-group"></div>
											<div class="form-group">
												<textarea class="form-control" rows="3"
													placeholder="Your Message"></textarea>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-black">
													<i class="fa fa-paper-plane"></i>Submit
												</button>
											</div>
										</form>
									</div>
								</aside>
							</div>


						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="department-header">
						<div class="row">
							<div class="col-sm-8">


								<div class="occasional">
									<h4><i class="fa fa-globe" style="color: #8dd8e0; font-size: 1.3em;">  Cities :</i></h4>
									<h5> Delhi</h5>									
									
										<h5> Mumbai</h5>
									
										<h5> Bangalore</h5>
									
										<h5> Kolkata</h5>
									<div class="clearfix"></div>
								</div>

								<div class="occasional">
									<h4><i class="fa fa-bed" style="color: #8dd8e0; font-size: 1.3em;">  Types of Wards :</i></h4>
									
										<h5> General</h5>									
									
										<h5> Semi Special</h5>
									
										<h5> Special</h5>
									
										<h5> Deluxe</h5>
									
									<div class="clearfix"></div>
								</div>

								<div class="occasional">
									<h4><i class="fa fa-trophy" style="color: #8dd8e0; font-size: 1.3em;">  Awards and Recognitions :</i></h5>
									<h5> National</h5>

									<div class="clearfix"></div>
								</div>

								<div class="occasional">
									<h4><i class="fa fa-heartbeat" style="color: #8dd8e0; font-size: 1.3em;"> Facilities :</i></h4>
									<div class="row">
										<div class="col-sm-6">
										
										<h5> Pharmacy</h5>									
									
										<h5> 24x7 Service</h5>
									
										<h5> ICU</h5>
									
										<h5> Cafeteria</h5>
										
										<h5> Diagnostic Lab</h5>									
									
										<h5> Blood Bank</h5>
									
										<h5> Luxury Private Room</h5>
									
										<h5> WiFi</h5>
										

											<!-- <i class="fa fa-plus-square"
												style="color: ; font-size: 1.5em;"><h5> Pharmacy</h5></i><br>
											<br> <i class="fa fa-calendar"
												style="color: #ff8080; font-size: 1.5em;"> 24x7 Service</i><br>
											<br> <i class="fa fa-calendar"
												style="color: #ff8080; font-size: 1.5em;"> ICU</i><br>
											<br> <i class="fa fa-cutlery"
												style="color: #ff8080; font-size: 1.5em;"> Cafeteria</i><br>
											<br> <i class="fa fa-flask"
												style="color: #ff8080; font-size: 1.5em;"> Diagnostic
												Lab</i><br>
											<br> <i class="fa fa-university"
												style="color: #ff8080; font-size: 1.5em;"> Blood Bank</i><br>
											<br> <i class="fa fa-calendar"
												style="color: #ff8080; font-size: 1.5em;"> Luxury
												Private Room</i><br>
											<br> <i class="fa fa-wifi"
												style="color: #ff8080; font-size: 1.5em;"> WiFi</i> -->
										</div>

									</div>

								</div>





								<br>
								<div>
									<h4>About Cardiac Department</h4>
									<p>Far far away, behind the word mountains, far from the
										countries Vokalia and Consonantia, there live the blind texts.
										Separated they live in Bookmarksgrove right at the coast of
										the Semantics, a large language ocean. A small river named
										Duden flows by their place and supplies it with the necessary
										regelialia. It is a paradisematic country, in which roasted
										parts of sentences fly into your mouth.</p>
								</div>

								<div>
									<h4>Research and Development</h4>
									<p>Even the all-powerful Pointing has no control about the
										blind texts it is an almost unorthographic life One day
										however a small line of blind text by the name of Lorem Ipsum
										decided to leave for the far World of Grammar. The Big Oxmox
										advised her not to do so, because there were thousands of bad
										Commas, wild Question Marks and devious Semikoli, but the
										Little Blind Text didn’t listen.</p>
								</div>





								<div class="bootstrap-tab animated wow slideInUp animated"
									data-wow-delay=".5s"
									style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
									<div class="bs-example bs-example-tabs" role="tabpanel"
										data-example-id="togglable-tabs">
										<ul id="myTab" class="nav nav-tabs" role="tablist">

											<li role="presentation"><a
												href="https://p.w3layouts.com/demos/21-03-2016/best_store/web/single.html#profile"
												role="tab" id="profile-tab" data-toggle="tab"
												aria-controls="profile"><b>Reviews(2)</b></a></li>

										</ul>
										<br>
										<div id="myTabContent" class="tab-content">

											<div role="tabpanel" class="tab-pane fade bootstrap-tab-text"
												id="profile" aria-labelledby="profile-tab">


												<div class="bootstrap-tab-text-grid">
													<div class="bootstrap-tab-text-grid-left">
														<img src="../static/images/testi-1.jpg" alt=" "
															class="img-responsive">
													</div>
													<div class="bootstrap-tab-text-grid-right">

														<p>Ut enim ad minima veniam, quis nostrum
															exercitationem ullam corporis suscipit laboriosam, nisi
															ut aliquid ex ea commodi consequatur? Quis autem vel eum
															iure reprehenderit.</p>
													</div>
													<div class="clearfix"></div>

													<div class="col-sm-8">
														<h5 style="color:">add a review</h5>
														<form>
															<div class="row">
																<div class="col-sm-12">
																	<div class="form-group">
																		<input class="form-control" type="text"
																			placeholder="Your Name">
																	</div>


																	<div class="form-group">
																		<input class="form-control" type="text"
																			placeholder="Your Email Id">
																	</div>

																	<div class="form-group">
																		<textarea class="form-control" rows="5"
																			placeholder="Your Message"></textarea>
																	</div>
																</div>
															</div>


															<div class="form-group">
																<button class="btn btn-blue1" type="submit">
																	<i class="fa fa-paper-plane"></i>Submit
																</button>
															</div>
														</form>
													</div>
												</div>
											</div>


										</div>
									</div>
								</div>










							</div>
							<div class="col-sm-4">
								<aside class="sidebar">

									<div class="widget widget-tabs">
										<h4 class="heading">Available Offers</h4>
										<div class="pills-2">
											<ul class="nav nav-pills" role="tablist">
												<li role="presentation" class="active"><a
													href="http://wwsthemes.com/themes/medwise/v1.0/department-single-sidebar.html#t2body1"
													aria-controls="t2body1" role="tab" data-toggle="tab"
													aria-expanded="true"> <strong>Trending</strong>
												</a></li>
												<li role="presentation" class=""><a
													href="http://wwsthemes.com/themes/medwise/v1.0/department-single-sidebar.html#t2body2"
													aria-controls="t2body2" role="tab" data-toggle="tab"
													aria-expanded="false"> <strong>Latest</strong>
												</a></li>
											</ul>

											<div class="tab-content">
												<div role="tabpanel" class="tab-pane fade active in"
													id="t2body1">
													<div class="offer-box">
														<div class="offer-header">
															<h4 class="heading">50% Off</h4>
															<span>on Full Body Checkup </span>
														</div>
														<div class="offer-body">
															<p>Behind the word mountains, far from the countries
																Vokalia and Consonantia.</p>
															<a
																href="http://wwsthemes.com/themes/medwise/v1.0/book-appointment-form.html"
																class="btn btn-primary btn-sm">Avail Offer</a>
														</div>
													</div>
												</div>
												<div role="tabpanel" class="tab-pane fade" id="t2body2">
													<div class="offer-box">
														<div class="offer-header">
															<h4 class="heading">20% Off</h4>
															<span>on Family Plan Subscription </span>
														</div>
														<div class="offer-body">
															<p>Behind the word mountains, far from the countries
																Vokalia and Consonantia.</p>
															<a
																href="http://wwsthemes.com/themes/medwise/v1.0/book-appointment-form.html"
																class="btn btn-primary btn-sm">Avail Offer</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</aside>
							</div>


							<div class="col-sm-4">
								<aside class="sidebar">
									<div class="widget widget-testimonial">
										<div
											class="slider-items owl-carousel owl-theme owl-center owl-loaded">


											<div class="owl-stage-outer">
												<div class="owl-stage"
													style="transition: 1.5s; width: 2028px; transform: translate3d(-1014px, 0px, 0px);">
													<div class="owl-item cloned"
														style="width: 308px; margin-right: 30px;">
														<div>
															<div class="testi-img">
																<img src="../static/images/testi-1.jpg"
																	class="img-circle" alt="">
															</div>
															<div class="testi-text">
																<i class="fa fa-quote-left"></i> Behind the word
																mountains, far from the countries Vokalia and
																Consonantia, there live the blind texts.
															</div>
															<span class="said-by">Christina Jones</span>
														</div>
													</div>
													<div class="owl-item cloned"
														style="width: 308px; margin-right: 30px;">
														<div>
															<div class="testi-img">
																<img src="../static/images/testi-2.jpg"
																	class="img-circle" alt="">
															</div>
															<div class="testi-text">
																<i class="fa fa-quote-left"></i> Behind the word
																mountains, far from the countries Vokalia and
																Consonantia, there live the blind texts.
															</div>
															<span class="said-by">Christina Jones</span>
														</div>
													</div>
													<div class="owl-item"
														style="width: 308px; margin-right: 30px;">
														<div>
															<div class="testi-img">
																<img src="../static/images/testi-1.jpg"
																	class="img-circle" alt="">
															</div>
															<div class="testi-text">
																<i class="fa fa-quote-left"></i> Behind the word
																mountains, far from the countries Vokalia and
																Consonantia, there live the blind texts.
															</div>
															<span class="said-by">Christina Jones</span>
														</div>
													</div>
													<div class="owl-item active center"
														style="width: 308px; margin-right: 30px;">
														<div>
															<div class="testi-img">
																<img src="../static/images/testi-2.jpg"
																	class="img-circle" alt="">
															</div>
															<div class="testi-text">
																<i class="fa fa-quote-left"></i> Behind the word
																mountains, far from the countries Vokalia and
																Consonantia, there live the blind texts.
															</div>
															<span class="said-by">Christina Jones</span>
														</div>
													</div>
													<div class="owl-item cloned"
														style="width: 308px; margin-right: 30px;">
														<div>
															<div class="testi-img">
																<img src="../static/images/testi-1.jpg"
																	class="img-circle" alt="">
															</div>
															<div class="testi-text">
																<i class="fa fa-quote-left"></i> Behind the word
																mountains, far from the countries Vokalia and
																Consonantia, there live the blind texts.
															</div>
															<span class="said-by">Christina Jones</span>
														</div>
													</div>
													<div class="owl-item cloned"
														style="width: 308px; margin-right: 30px;">
														<div>
															<div class="testi-img">
																<img src="../static/images/testi-2.jpg"
																	class="img-circle" alt="">
															</div>
															<div class="testi-text">
																<i class="fa fa-quote-left"></i> Behind the word
																mountains, far from the countries Vokalia and
																Consonantia, there live the blind texts.
															</div>
															<span class="said-by">Christina Jones</span>
														</div>
													</div>
												</div>
											</div>
											<div class="owl-controls">
												<div class="owl-nav">
													<div class="owl-prev" style="display: none;">prev</div>
													<div class="owl-next" style="display: none;">next</div>
												</div>
												<div class="owl-dots" style="">
													<div class="owl-dot">
														<span></span>
													</div>
													<div class="owl-dot active">
														<span></span>
													</div>
												</div>
											</div>
										</div>
										<div class="slider-nav">
											<div class="left">
												<i class="fa fa-angle-left"></i>
											</div>
											<div class="right">
												<i class="fa fa-angle-right"></i>
											</div>
										</div>
									</div>
								</aside>
							</div>


							<div class="col-sm-4">
								<aside class="sidebar">
									<div class="widget widget-testimonial">
										MAP <br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>

									</div>
								</aside>
							</div>

						</div>
					</div>
				</div>
			</div>

<div class="col-sm-12 mt-20">
                                	<div class="table-responsive">
	                                    <table class="table table-bordered table-schedule-mini">
	                                        <tbody>
	                                            <tr>
	                                                <th style="color: white">Doctor</th>
	                                                <th style="color: white">Name</th>
	                                                <th style="color: white">Speciality</th>
	                                                <th style="color: white">Timing</th>
	                                            </tr>
	                                            <tr>
	                                                <td>
													<img src="../static/images/doctor-mini-1.jpg" class="img-circle" alt=""></td>
	                                                <td><strong><a href="http://wwsthemes.com/themes/medwise/v1.0/doctor-single-sidebar.html">Mr. Mike Hendricks</a></strong></td>
	                                                <td>Neuro Care</td>
	                                                <td>0900-1900 hrs</td>
	                                            </tr>
	                                            <tr>
	                                                <td>
													<img src="../static/images/doctor-mini-2.jpg" class="img-circle" alt=""></td>
	                                                <td><strong><a href="http://wwsthemes.com/themes/medwise/v1.0/doctor-single-sidebar.html">Ms. Everett Holder</a></strong></td>
	                                                <td>Psychotherapy</td>
	                                                <td>0900-1900 hrs</td>
	                                            </tr>
	                                            <tr>
	                                                <td>
													<img src="../static/images/doctor-mini-3.jpg" class="img-circle" alt=""></td>
	                                                <td><strong><a href="http://wwsthemes.com/themes/medwise/v1.0/doctor-single-sidebar.html">Ms. Roberto Blackwell</a></strong></td>
	                                                <td>Heart Specialist</td>
	                                                <td>0900-1900 hrs</td>
	                                            </tr>
	                                            <tr>
	                                                <td>
													<img src="../static/images/doctor-mini-1.jpg" class="img-circle" alt=""></td>
	                                                <td><strong><a href="http://wwsthemes.com/themes/medwise/v1.0/doctor-single-sidebar.html">Mr. Mike Hendricks</a></strong></td>
	                                                <td>Neuro Care</td>
	                                                <td>0900-1900 hrs</td>
	                                            </tr>
	                                            <tr>
	                                                <td>
													<img src="../static/images/doctor-mini-2.jpg" class="img-circle" alt=""></td>
	                                                <td><strong><a href="http://wwsthemes.com/themes/medwise/v1.0/doctor-single-sidebar.html">Ms. Everett Holder</a></strong></td>
	                                                <td>Surgeon</td>
	                                                <td>0900-1900 hrs</td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



		</div>
		
		
		


	</div>
	
	

	<footer class="footer-1">
		<!-- Footer Style 1 -->
		<div class="footer-pri pt-20 pb-40">
			<!-- Primary Footer -->
			<div class="container">
				<div class="row">
					<div class="col-sm-12"></div>
				</div>
				<div class="row">


					<div class="col-sm-4">
						<div class="widget widget-twitter">
							<h4 class="heading">About</h4>
						</div>
						<hr>
						<div class="widget widget-flickr">

							<ul>
								<li><a href=""></a><strong>Privacy Policy</strong></li>
							</ul>
						</div>
						<div class="widget widget-flickr">
							<ul>
								<li><a href=""></a><strong>Terms and Conditions</strong></li>
							</ul>

						</div>
						<div class="widget widget-flickr">
							<ul>
								<li><a href=""></a><strong>Terms and Conditions</strong></li>
							</ul>

						</div>
					</div>















					<div class="col-sm-4">
						<div class="widget widget-about">
							<h4>CuraNest</h4>
							<hr>
							<ul class="contact">
								<li><i class="fa fa-map-marker"></i>&nbsp; C-569, 1st
									Floor, 60 ft Main Road, AECS Layout, Brookefield,
									Bangalore-560037, Karnataka
									</p></li>
								<li><i class="fa fa-phone"></i> +24 123-456-7878</li>
								<li><i class="fa fa-envelope"></i> info@example.com</li>
							</ul>

							<ul class="social social-2x">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-vimeo"></i></a></li>
							</ul>
						</div>
					</div>













					<div class="col-sm-4">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12 col-sm-offset-2 no-gutter">
									<br>
									<div class="query1-form">
										<form>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
														<input class="form-control" type="text"
															placeholder="Your Name">
													</div>

													<div class="form-group">
														<input class="form-control" type="text"
															placeholder="Your contact Number">
													</div>

													<div class="form-group">
														<input class="form-control" type="number"
															placeholder="Your Email Id">
													</div>

													<div class="form-group">
														<textarea class="form-control" rows="5"
															placeholder="Details"></textarea>
													</div>
												</div>
											</div>


											<div class="form-group">
												<button class="btn btn-blue1" type="submit">
													<i class="fa fa-paper-plane"></i>Query Now
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>







				</div>
			</div>
		</div>
		<div class="footer-sec">
			<!-- Secondary Footer -->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span>© 2016 All Rights Reserved. <a href="index2.html"
							target="_blank">CuraNest</a></span>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div id="back" style="display: none;">
		<i class="fa fa-angle-up"></i>
	</div>

	<!-- Modal -->


	<!-- Modal -->


	<!-- Permission for Setting Cookies -->


	<!-- JQuery Version 3.1.0 -->

	<script src="" type="text/javascript"></script>
	<script src="../static/js/jquery.min.js" type="text/javascript"></script>

	<!-- Bootstrap Version 3.3.7 -->
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- Bootstrap Select (Dropdown Styling) -->
	<script src="../static/js/bootstrap-select.min.js"
		type="text/javascript"></script>

	<!-- Owl Carousel 2.0.0 -->
	<script src="../static/js/owl.carousel.min.js" type="text/javascript"></script>

	<!-- Appear JS -->
	<script src="../static/js/jquery.appear.js" type="text/javascript"></script>

	<!-- Count To JS -->
	<script src="../static/js/jquery.countTo.js" type="text/javascript"></script>

	<!-- jQuery UI (Date Picker) -->
	<script src="../static/js/jquery-ui.min.js" type="text/javascript"></script>

	<!-- Custom JS -->
	<script src="../static/js/script.js" type="text/javascript"></script>



	<div id="ui-datepicker-div"
		class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
</body>

</html>